.movie-detail{display: flex;}
.movie-detail .movie-poster{margin-right: 20px;}
.movie-detail .movie-poster img{border: 3px solid #999;}
.movie-detail .movie-txt{background-color: #f4edf7;padding: 20px 30px;flex-basis: calc(100% - 130px);box-sizing: border-box;}
.movie-detail .movie-txt h2{font-size: 24px;font-weight: 500;margin-bottom: 8px;}
.movie-detail .movie-txt h2::before{content: '';display: inline-block;vertical-align: middle;margin-right: 5px;width: 30px;height: 30px;background: url('../../images/ic-ticket.svg') no-repeat center / 30px;}
.movie-detail .movie-txt p, .movie-detail .movie-txt ul li{margin-bottom: 3px;}
.movie-detail .movie-txt ul{margin-bottom: 10px;border-bottom: 1px dashed #ccc;padding-bottom: 10px;}
.movie-detail .movie-txt p em, .movie-detail .movie-txt ul li em{display: inline-block;color: #777;min-width: 50px;}
.movie-detail .movie-txt div p{font-weight: 500;margin: 5px 0;}
.movie-detail .movie-txt div p::before{content: '';display: inline-block;width: 3px;height: 3px;background-color: #333;vertical-align: middle;margin-right: 4px;}
.movie-detail .movie-txt div div{color: #666;padding-left: 8px;}
.movie-detail .movie-txt div div em{color: #333;}


@media screen and (max-width: 768px) {
    .movie-detail .movie-poster{margin-right: 10px;}
    .movie-detail .movie-poster img{width: 80px;}
    .movie-detail .movie-txt{padding: 15px;flex-basis: calc(100% - 80px);}
    .movie-detail .movie-txt h2{font-size: 16px;margin-bottom: 5px;word-break: break-all;}
    .movie-detail .movie-txt h2::before {margin-right: 3px;width: 20px;height: 20px;background-size: 20px;}
    .movie-detail .movie-txt p, .movie-detail .movie-txt ul li{font-size: 13px;display: flex;}
    .movie-detail .movie-txt div p{margin-bottom: 2px;}
    .movie-detail .movie-txt div p::before{margin-top: 7px;width: 2px;height: 2px;}
    .movie-detail .movie-txt div div{font-size: 13px;}
}