.movie-list{border-top: 1px solid #000;}
.movie-list>li{display: flex;padding: 15px 20px;border: 1px solid #ddd;margin-bottom: -1px;}
.movie-list>li .img-area{position: relative;margin-right: 20px;}
.movie-list>li .img-area img{border: 3px solid #999;}
.movie-list>li:nth-child(1) .img-area img{border-color: #eb0c31;}
.movie-list>li:nth-child(2) .img-area img{border-color: #ebc34c;}
.movie-list>li:nth-child(3) .img-area img{border-color: #57b37d;}
.movie-list>li .img-area .rank{display: block;font-family: 'Gowun Dodum', sans-serif;text-shadow: 0 0 white;position: absolute;left: -7px;top: -7px;color: #fff;width: 25px;height: 25px;line-height: 25px;border-radius: 100%;text-align: center;background-color: #999;}
.movie-list>li:nth-child(1) .img-area .rank{background-color: #eb0c31;}
.movie-list>li:nth-child(2) .img-area .rank{background-color: #ebc34c;}
.movie-list>li:nth-child(3) .img-area .rank{background-color: #57b37d;}
.movie-list>li .info-area .oldNew{display: inline-block;font-size: 12px;padding: 0 5px;background-color: #a0a0a0;color: #fff;margin-right: 6px;}
.movie-list>li .info-area .oldNew.NEW{background-color: #ebc34c;}
.movie-list>li .info-area strong::before{content: '';display: inline-block;vertical-align: middle;margin-right: 2px;}
.movie-list>li .info-area strong.down{color: #be374e;}
.movie-list>li .info-area strong.down::before{border-color: #be374e transparent transparent transparent;border-width: 5.5px;border-style: solid;margin-top: 4px;}
.movie-list>li .info-area strong.new{color: #666;}
.movie-list>li .info-area strong.new::before{background-color: #666;width: 6px;height: 2.5px;margin-top: -2px;}
.movie-list>li .info-area strong.up{color: #493da5;}
.movie-list>li .info-area strong.up::before{border-color: transparent transparent #493da5 transparent;border-width: 5.5px;border-style: solid;margin-bottom: 2px;vertical-align: baseline;}
.movie-list>li .info-area h6{font-size: 18px;margin: 5px 0;font-weight: 500;}
.movie-list>li .info-area p em{display: inline-block;color: #777;width: 55px;}
.movie-list>li .info-area p span{color: #333;}



@media screen and (max-width: 768px) {
    .movie-list>li{padding: 10px;}
    .movie-list>li .img-area{margin-right: 10px;}
    .movie-list>li .img-area img{width: 86px;}
    .movie-list>li .info-area .oldNew{font-size: 10px;padding: 0 3px;}
    .movie-list>li .info-area strong{font-size: 13px;}
    .movie-list>li .info-area h6{font-size: 15px;margin: 2px 0;}
    .movie-list>li .info-area p{font-size: 13px;}
    
}