.t-red{color: rgba(235, 12, 49, 0.938);} 
.t-blue{color: #1f48ad;}

#root{min-height: 100%;padding-top: 80px;box-sizing: border-box;}
.group{max-width: 1320px;padding: 0 20px;box-sizing: border-box;margin: 0 auto;}

/*#####################
##     HTEADER
######################*/
.mv-header{position: fixed;z-index: 99;left: 0;right: 0;top: 0;height: 80px;background-color: #fff;box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.1);box-sizing: border-box;}
.mv-header .group{display: flex;align-items: center;}
.mv-header .ic-menu, .mv-header .ic-prev{display: none;}
.mv-header .hd-logo{font-size: 22px;font-weight: 700;font-family: 'Gowun Dodum', sans-serif;white-space: nowrap;}
.mv-header .hd-logo a{background: url('./images/ic-logo.svg') no-repeat top 2.5px left;background-size: 23px auto;padding-left: 27px;}
.mv-header .hd-logo strong{color: rgb(235 12 49);}
.mv-header .gnb{display: flex;justify-content: center;align-items: center;width: 100%;line-height: 79px;}
.mv-header .gnb li{margin: 0 20px;}
.mv-header .gnb li a{display: block;color: #333;font-size: 18px;font-weight: 500;padding: 0 5px;position: relative;}
.mv-header .gnb li a.active:after, .mv-header .gnb li a:hover:after{content: '';position: absolute;display: inline-block;width: 100%;height: 2px;background-color: #adadad;bottom: calc(50% - 20px);left: 0;}
.mv-header .right{margin-left: auto;white-space: nowrap;}
.mv-header .right>span{margin: 0 5px;color: #444;}
.mv-header .right a{text-decoration: underline;color: #000;}
.mv-header .right button.logout{margin-left: 8px;border: 1px solid #aaa;font-size: 11px;background-color: #fff;color: #666;padding: 1px 3px;border-radius: 2px;}
.mv-header .ic-mobile-close{display: none;}

/*#####################
##    CONTENTS
######################*/
#contents{min-height: calc(100vh - 132px);position: relative;}
#contents>.group{display: flex;align-items: flex-start;padding: 40px 20px;max-width: 1040px;}
#contents .group .cont{width: 100%;}

/*#####################
##   SUBPAGE VISUAL
######################*/
.visual-txt{display: flex;flex-direction: column;align-items: center;justify-content: center;font-family: 'Gowun Dodum', sans-serif;height: 150px;background: #ded4de url('./images/sub_bg.jpg') center right -60% no-repeat scroll;background-size: 70% auto;}
.visual-txt h5{font-size: 20px;margin-bottom: 3px;}
.visual-txt div{font-size: 13px;color: #555;}

/*#####################
##       TAB
######################*/
.mv-tab{display:flex;border-bottom:2px solid #adadad;max-width:400px;width: 80%;margin:0 auto 25px}
.mv-tab>li.on{border-bottom:2px solid #000;color:#000;margin-bottom:-2px}
.mv-tab>li{width:100%;font-size:18px;font-weight:500;height:100%;color:#adadad}
.mv-tab>li:hover{color: #000;}
.mv-tab>li a{display:flex;align-items:center;justify-content:center;height:100%;padding:10px 10px 15px}

/*#####################
##   SEARCH FORM
######################*/
.search-form{margin-bottom: 15px;}
.search-form input[type=submit]{box-sizing: border-box;border: 1px solid #555;padding: 5px;min-width: 70px;height: 36px;color: #333;margin-left: 5px;background-color: #fff;}
.search-form input[type=text]{border-color: #555;}

/*#####################
##    PAGENATION
######################*/
.pageNation{display: flex;justify-content: center;align-items: center;margin: 30px 0;}
.pageNation ul{display: flex;}
.pageNation ul li, .pageNation p{width: 35px;height: 35px;border: 1px solid #ccc;margin: 0 2px;}
.pageNation ul li a, .pageNation p a{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;}
.pageNation ul li.active{border-color: rgb(235 12 49);background-color: rgb(235 12 49);}
.pageNation ul li:hover, .pageNation p:hover{border-color: rgb(235 12 49);}
.pageNation ul li.active a{color: #fff;font-weight: 500;}
.pageNation ul li:not(.active):hover a{color: rgb(235 12 49);}
.pageNation p.prev a{font-size: 0;background: url('./images/ic-next.svg') no-repeat center / 10px;transform: rotate(180deg);}
.pageNation p.firstPage a{font-size: 0;background: url('./images/ic-last.svg') no-repeat center / 15px;transform: rotate(180deg);}
.pageNation p.next a{font-size: 0;background: url('./images/ic-next.svg') no-repeat center / 10px;}
.pageNation p.lastPage a{font-size: 0;background: url('./images/ic-last.svg') no-repeat center / 15px;}


/*#####################
##      TABLE
######################*/
table{border-spacing: 0; border-collapse: collapse;}
table{margin-bottom: 25px;margin-top: 0;border-top: 1px solid #555;border-bottom: 1px solid #ccc;width: 100%;table-layout: fixed;}
.detail{border-top: 2px solid #333;}

thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
tr {display: table-row;vertical-align: inherit;border-color: inherit;}

table > thead > tr > th {text-align: center;border: 1px solid #ddd;border-bottom: 1px solid #ccc;background-color: #f9f9f9;vertical-align: middle;color: #000;font-size: 15px;word-break: keep-all;word-wrap: break-word;font-weight: 500;padding: 15px 5px;line-height: 17px;}
table > thead > tr:first-child > th{border-top-color: #555;}
table:not(.detail) > tbody > tr:first-child > th{border-top-color: #555;}

table > thead > tr > th:first-child
, table > tbody > tr > td:first-child{border-left-width: 0;}
table > thead > tr > th:last-child
, table > tbody > tr > td:last-child{border-right-width: 0;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}

table > tbody > tr > th {text-align: center;border-top: 1px solid #eee;border-right: 1px solid #eee;background-color: #f9f9f9;vertical-align: middle;color: #555;font-size: 15px;word-break: keep-all;word-wrap: break-word;font-weight: 500;padding: 10px;}
.detail > tbody > tr > th{border-color: #ddd;min-height: 40px;}
table > tbody > tr > td{font-size: 14px;color: #888;font-weight: normal;border-right: 1px solid #eee;border-top: 1px solid #eee;text-align: center;font-size: 14px;padding: 10px 5px;letter-spacing: -0.5px;}
.detail > tbody > tr > td{text-align: left;border-color: #ddd;padding: 10px;word-break: break-all;}
table > thead > tr > td:first-child
, table > tbody > tr > td:first-child
, table > tfoot > tr > td:first-child {border-left-width: 0;}
table > thead > tr > td:last-child
, table > tbody > tr > td:last-child
, table > tfoot > tr > td:first-child {border-right-width: 0;}
table > tbody > tr:last-child > td, table > tbody > tr:last-child >th{border-bottom: 0;}
.detail > tbody > tr:first-child > th, .detail > tbody > tr:first-child > td{border-top: 0;}
table > tbody > tr > td p, .table > tbody > tr > td a:not([class]),.table > tbody > tr > td ul,.table > tbody > tr > td li, table > tbody > tr > td div{color: inherit;font-size: inherit;}
.detail > tbody > tr > td a{display: inline-block;border: 1px solid #c0c0c0;padding: 3px 5px;margin-left: 5px;}

/*#####################
##     FOOTER
######################*/
footer{padding: 15px 0;color: #888;background-color: #f9fafc;}


/*#####################
##    MEDIA QUERY
######################*/
@media screen and (max-width: 1024px) {
    #root{padding-top: 50px;}
    .group{padding: 0 10px;}

    /*####  HTEADER ####*/
    .mv-header{height: 50px;}
    .mv-header .m-menu-bg{position: fixed;z-index: 998;background-color: #000;transform: translate(-100%, 0);opacity: 0;left: 0;top: 0;width: 100%;height: 100%;transition: opacity 0.3s;}
    .nav-open.mv-header .m-menu-bg{transform: translate(0, 0);opacity: 0.5;}
    .mv-header .group{display: block;}
    .mv-header .ic-menu{display: inline-block;background: url(./images/ic-menu.svg) no-repeat center / 20px;border: 0;font-size: 0;width: 50px;height: 50px;position: absolute;right: 0;top: 0;}
    .mv-header .ic-prev{display: inline-block;font-size: 0;background: url('./images/ic-prev.svg') no-repeat center / 20px;width: 50px;height: 50px;position: absolute;top: 0;left: 0;border: 0;}
    .mv-header .hd-logo{text-align: center;line-height: 50px;font-size: 18px;}
    .mv-header .hd-logo a{background-size: 18px auto;padding-left: 21px;}
    .mv-header .gnb{position: fixed;z-index: 999;background: #fff;top: 0;bottom: 0;right: 0;width: 90%;max-width: 400px;flex-direction: column;align-items: flex-start;justify-content: flex-start;line-height: normal;padding-top: 65px;transition: transform 0.3s linear;transform: translate(100%, 0);}
    .nav-open.mv-header .gnb{transform: translate(0,0);}
    .mv-header .gnb li{margin: 0;width: 100%;}
    .mv-header .gnb li a{display: block;font-size: 16px;padding: 10px;}
    .mv-header .gnb li a.active{color: rgb(235 12 49);}
    .mv-header .gnb li a::before{content: '';display: inline-block;width: 3px;height: 3px;background-color: #333;margin-right: 5px;vertical-align: middle;}
    .mv-header .gnb li a.active::before{background-color: rgb(235 12 49);}
    .mv-header .gnb li a.active:after, .mv-header .gnb li a:hover:after{display: none;}
    .mv-header .right{position: fixed;z-index: 999;top: 0;right: 0;width: 90%;max-width: 400px;height: 53px;;background-color: rgb(235 12 49);padding: 15px 10px;box-sizing: border-box;color: #fff;transition: transform 0.3s linear;transform: translate(100%, 0)}
    .nav-open.mv-header .right{transform: translate(0,0);}
    .mv-header .right span{color: #fff;font-size: 15px;}
    .mv-header .right span a{color: #fff;font-size: 15px;}
    .mv-header .right button.logout{border-color: #eb0c31;color: #eb0c31;padding: 2px 5px;font-size: 12px;font-weight: 500;}
    .mv-header .right .ic-mobile-close{display: inline-block;height: 54px;width: 54px;position: absolute;right: 0;top: 0;font-size: 0;border: 0;background: url('./images/ic-close.png') no-repeat center / 18px;}

    /*####  CONTENTS ####*/
    #contents>.group{padding: 20px 10px;}

    /*####  FOOTER ####*/
    footer{padding: 10px 0;font-size: 12px;text-align: center;}
}

@media screen and (max-width: 768px) {
    /*####  SUBPAGE VISUAL ####*/
    .visual-txt{height: 100px;}
    .visual-txt h5{font-size: 17px;}
    .visual-txt div{font-size: 12px;}

    /*####  TAB ####*/
    .mv-tab>li{font-size: 15px;}
    .mv-tab>li a{padding: 5px 5px 10px;}
    
    /*####  SEARCH FORM ####*/
    .search-form{margin-bottom: 10px;}
    .search-form input[type=text]{height: 30px;}
    .search-form input[type=submit]{height: 30px;min-width: 55px;}

    /*####  PAGENATION ####*/
    .pageNation p{height: 25px;width: 25px;}
    .pageNation p.firstPage a, .pageNation p.lastPage a{background-size: 11px auto;}
    .pageNation p.prev a, .pageNation p.next a{background-size: 9px auto;}
    .pageNation ul li{width: auto;height: auto;margin: 0 2px;padding: 0 2px;border: 0;}
    .pageNation ul li.active{background-color: #fff;}
    .pageNation ul li.active a{color: rgb(235 12 49);}
}


