@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{margin:0;padding: 0;}
html,body{height: 100%;}
body{min-width: 320px;box-sizing:border-box;font-family: 'Noto Sans KR', sans-serif;;font-size:14px;color:#000;letter-spacing: -0.5px;line-height: 1.5;}
h1,h2,h3,h4,h5,h6,p,ol,li,dl,dt,dd,ul,li,a,p,em{font-family: inherit;color: inherit;}
em{font-style: normal;}
body.pagelayout-popup{padding-top: 0 !important;}
h5{margin:0}
input,select,button{font-family:inherit;cursor: pointer;}
img,fieldset,label{border:0;margin:0;padding:0}
ul,ol{list-style:none;padding:0;margin:0;list-style-image:none}
ol li,ul li{padding:0;margin:0}
strong{font-weight:600}
a{text-decoration:none;cursor:pointer;color:inherit;font-size:inherit;font-weight:inherit}
a:hover{text-decoration:none;cursor:pointer}
a:active{text-decoration:none}
a:focus{text-decoration:none}
textarea{appearance: none;border: 1px solid #ddd;resize: none;padding: 10px;box-sizing: border-box;font-size: 14px;font-family: inherit;}
input[type=text],input[type=password],select, input[type=number], input[type=email], input[type=search]{cursor: text;border-radius:0;border:1px solid #ddd;text-shadow:none;box-shadow:none;max-width:100%;height: 36px;box-sizing: border-box;padding: 5px 10px;font-size: 14px;vertical-align: middle;border-radius: 0;}
input[type=button],input[type=submit],button, input[type=reset]{cursor: pointer;text-shadow:none;appearance:none;-webkit-appearance:none;vertical-align: middle;}
input[type=search]{appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none;}
input[type=text],input[type=password], input[type=number]{appearance:none;-webkit-appearance:none}
input[readonly]{cursor:default;background-color:#f1f1f1;border-color:#ddd}
label{display:inline-block} 
select::-ms-expand {display:none;}
input[type=checkbox], input[type=radio]{width: 17px;height: 17px;margin-right: 3px;margin-top: -2px;vertical-align: middle;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

/* Firefox */
input[type=number] {-moz-appearance: textfield;}