.loading{display: none;z-index: 99;position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5) url("./images/ic_loading.svg") no-repeat center;}
.loading.show{display: block;}
.mainSliderGrp .loading{position: absolute;top: 100px;background-size: 100px auto;background-color: rgba(0,0,0,0.1);}